<div>
            <h4
                class="span10 offset1 theme-dark nunito-light smiles-content text-left"
            >
                Serviços
            </h4>
            <table
                class="smiles-table miles-operations services-table checkout-table"
            >
                <tbody>
                <tr>
                    <td
                    class="miles-operations__miles-purchase"
                    >
                    <b>
                        Compra de Milhas <br />
                        2.000 milhas
                    </b>
                    <br />
                    <span> R$ 0,07 /milhas </span>
                    </td>
                    <td class="miles-operations__details">
                    <div
                        class="miles-operations__details__miles-validity"
                    >
                        <b>Validade das milhas</b> <br />
                        29/11/2019
                    </div>
                    <div
                        class="miles-operations__details__miles-voucher"
                    >
                        <b class="brand-main"> Promoção </b
                        ><br />
                        + 100% milhas bônus <br />
                        <b>4.000 milhas no total</b>
                    </div>
                    </td>
                    <td class="miles-operations__item-total">
                    <span
                        class="smiles-icons ic-cancelar cancel-item-button"
                        title="Excluir item"
                        onclick="GetCheckoutController.removeItemCart('_smilesgetcheckoutportlet_WAR_smilescheckoutportlet_', '3928221' , 'https://portal-uat2.smiles.com.br/group/guest/checkout?p_p_id=smilesgetcheckoutportlet_WAR_smilescheckoutportlet&amp;p_p_lifecycle=2&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_resource_id=removeFromCheckout&amp;p_p_cacheability=cacheLevelPage&amp;p_p_col_id=column-1&amp;p_p_col_count=1', 'true');"
                    >
                    </span>
                    R$ 140,00
                    </td>
                </tr>
                <tr></tr>
                </tbody>
            </table>
            <table
                class="smiles-table checkout-table total"
            >
                <!-- Cabecalho do Total -->
                <tbody>
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td>
                    <span class="type-value">R$</span>
                    140,00
                    </td>
                </tr>
                </tbody>
            </table>
</div>            