{{#compare typeCheckout 'miles'}}
    <h4 class="span10 offset1 theme-dark nunito-light smiles-content text-left">
        Serviços
    </h4>
    <table class="smiles-table miles-operations services-table checkout-table">
    <tbody class="tbody_services-table">

    </tbody>
    </table>
    <table class="smiles-table checkout-table total">
        <!-- Cabecalho do Total -->
        <tbody>
        <tr>
            <td>Total</td>
            <td></td>
            <td>
            <span class="type-value">R$</span>
            {{#if totals}}
                    {{totals.total.money}}
                {{else}}
                    {{total.money}}
            {{/if}}
            </td>
        </tr>
        </tbody>
    </table>
{{/compare}}
{{#compare typeCheckout 'booking.baggage'}}
    <div class="checkout-success services-table">
        <h4 class="span10 offset1 theme-dark nunito-light smiles-content">
            {{!-- <ui:message key="label.resume.amount" /> --}}
        </h4>
    </div>
    <table class="smiles-table checkout-table">
        <thead>
            <tr>
                <th>
                    {{!-- <ui:message key="label.passenger.extra.baggage" /> --}}
                    Bagagem Extra
                </th>
                <th>
                    {{!-- <ui:message key="label.miles" /> --}}
                    Milhas
                </th>
                <th>
                    {{!-- <ui:message key="label.monetary.code" /> --}}
                    R$
                </th>
            </tr>
        </thead>  
        <tbody class="tbody_services-table">
  
        </tbody>      
    </table>
{{/compare}}