<div id="content" class="smiles-content main">
  <div class="smiles-content mb">
    <div class="smiles-grid-wrap">
      <div class="columns-1" id="main-content" role="main">
        <div class="portlet-layout row-fluid">
          <div class="portlet-column portlet-column-only span12" id="column-1">
            <div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-1" >
              <div class="portlet-boundary portlet-boundary_smilesgetcheckoutportlet_WAR_smilescheckoutportlet_  portlet-static portlet-static-end portlet-borderless" id="p_p_id_smilesgetcheckoutportlet_WAR_smilescheckoutportlet_" >
                <span id="p_smilesgetcheckoutportlet_WAR_smilescheckoutportlet" ></span>
                <div class="portlet-borderless-container" style="">
                  <div class="portlet-body">
                    <section id="smls-gift-smiles" class="checkout">
                      <div id="content">
                        <div id="main-content" role="main">
                          <div class="row-fluid">
                            <!-- MAIN HEADER -->
                            <div class="span8 text-left">
                              <h2>Pagamento</h2>
                            </div>
                            <div class="span4 checkout__steps"></div>
                          </div>
                          <!-- END MAIN HEADER -->
                          <div class="row-fluid">
                            <input type="hidden" id="checkout" value="" />
                            <input type="hidden" id="easyTravel" value="false" />
                            <div id="tablePayment" class="checkout__container main-box">
                              <div class="row-fluid checkout__resume-ticket">
                              </div>
                              <div class="seats-details"></div>
                              <div class="checkout-success services-table">
                              </div>
                              <input type="hidden" id="cardRulePaymentType" value="money" />
                              <div id="content" class="checkout__payment">
                                <div id="main-content" role="main">
                                  <p class="box-title ">Pagamento</p>
                                  <span id="waitLoadPayment" style="display: none;" >
                                    Aguarde a liberação do formulário de pagamento
                                  </span>
                                  <div class="row-fluid checkout__payment-steps" >
                                    <div id="checkout-step-1" class="box-payment"></div>
                                    <div id="checkout-step-2" class="box-payment"></div>

                                    <div class="box-payment password">
                                      <div class="row-fluid confirm-box">
                                        <!-- confirm-box.hbs -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <input type="hidden" id="useSavedCard" value="true" />
                                <input type="hidden" id="brand" value="" />
                                <input type="hidden" id="currentYear" value="2018" />
                                <input type="hidden" id="cardCode" />
                                <input type="hidden" id="exceptionalPayment" value="" />
                                <input type="hidden" id="typeCheckout" value="miles" />
                                <!-- FIM TABELA DE PAGAMENTOS -->
                              </div>
                              <!-- END PAYMENT DATA -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="portlet-boundary portlet-boundary_1_WAR_kaleodesignerportlet_  portlet-static portlet-static-end portlet-borderless kaleo-designer-portlet" id="p_p_id_1_WAR_kaleodesignerportlet_">
        <span id="p_1_WAR_kaleodesignerportlet"></span>
      </div>
      <form action="https://portal-uat2.smiles.com.br/group/guest/checkout#" id="hrefFm" method="post" name="hrefFm">
        <span></span>
      </form>
    </div>
  </div>
</div>
