<input type="hidden" id="showCaptcha_checkout" value=""/>
<input type="hidden" id="recaptcha_site_key_checkout" value="6LeoUiQTAAAAAPwOVLXyj21XUjcd-DboxkNWUMO6"/>
<button id="btnCheckout" class="btn btn-primary">
  Confirmar
</button>
<div id="recaptcha_parent_div_checkout">
  <div id="recaptcha_div_checkout"></div>
</div>
