Entenda as parcelas
<span class="smiles-icons arrow-down" ></span>
<div class="tooltip-installments">
  <!-- TOOLTIP ENTENDA AS PARCELAS -->
  <div class="understand-installments">
    <h4 class="theme-dark">
      Cada item possui um tipo de
      parcelamento
    </h4>
    <p>
      Confira abaixo o valor detalhado
      de cada parcela. Cada produto
      será cobrado separadamente.
    </p>
    <table id="installments-table" class="smiles-table">
      <tbody>
        <tr>
          <th>Item</th>
          <th>à vista</th>
        </tr>
        <tr>
          <td>
            Comprar milhas&nbsp;<span class="color999">(até&nbsp;1x)</span>
          </td>
          <td class="installment-1">
            R$ 140,00
          </td>
        </tr>
        <tr>
          <td><p>Total</p></td>
          <td class="installment-1">
            R$ 140,00
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="understand-installments__pager">
          <td id="previous-installment" class="text-center">
            <span class="smiles-icons seta-esq-paginacao"></span>
            Voltar parcela
          </td>
          <td id="next-installment" class="text-center">
            Avançar parcela
            <span class="smiles-icons seta-dir-paginacao"></span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
