<div class="parcels">
  <p class="box-title">Parcelamento</p>
  <div id="installmentSelectDiv">
    <!-- installments-select.hbs -->
  </div>
  <div id="installmentDescriptionDiv">
    <!-- installments-description.hbs -->
  </div>
  <div id="installmentTooltipDiv">
    <!-- installments-tooltip.hbs -->
  </div>
</div>
