<div class="parcels">
  <p class="box-title">Parcelamento</p>
  <div id="installmentSelectDiv">
    <!-- installments-select.hbs -->
  </div>
  <!--div>
    <div class="smls-drop-list">
      <ul class="" id="installmentDescripition" style="margin-top: 0px;">
        <li class="">
          <p>à vista R$ 140,00</p>
        </li>
      </ul>
    </div>
  </div-->
  <div class="smls-column smls-column-11 mobile-center-parcel">
    <div id="entendaParc" class="text-center see-installments-table">
      <!-- installments-tooltip.hbs -->
    </div>
  </div>
</div>
