<div class="select">
  <select id="installmentSelect">
    <option value="1">{{value}} à vista</option>
    {{#each installment}}
      <option value="{{qtt}}">{{qtt}} Parcelas</option>
    {{/each}}
  </select>
</div>